.home__main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 4fr;
  overflow-x: hidden;
}

.home__main-section {
  min-width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__search-bar {
  width: 600px;
  border: .5px solid #909090;
  border-radius: 20px;
  padding: 8px 10px 8px 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 535px 1fr;
  background: white;
  margin: 40px 0 10px 0;
}

.home__search-input {
  outline: none;
  border: none;
}

.home__create-section {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  padding: 10px;
  box-sizing: border-box;
}

.home__create-input {
  outline: none;
  border: none;
  width: 600px;
  height: 150px !important;
  background: rgba(0, 0, 0, .04);
  border-radius: 18px;
  align-self: flex-start;
  resize: none;
  padding: 15px;
  box-sizing: border-box;
}

.home__create-button {
  outline: none;
  border: none;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  background: lightgreen;
  color: #505050;
  cursor: pointer;

}

.home__post-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}